#### Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [21]:
n=int(input())

arr=(map(int,input().split()))

arr=sorted(set(arr))

print(arr[-2])

5
1 2 3 4 5
4

In [9]:


d={}
student = []

n =int(input("Enter the no of student"))   
    
for i in range(n):
    
    name=input("Enter the name")
    mark=int(input("Enter the mark"))
    d[name]=mark
    student.append(mark)
mark=sorted(set(student))
min_mark=mark[1]


for key, value in sorted(d.items()):
    if value==min_mark:
        
        print(key)

Enter the no of student3
Enter the name23
Enter the mark34
Enter the nameqw
Enter the mark34
Enter the namefff
Enter the mark56
fff

In [14]:
n=int(input())

student_mark={}

name, *line = input().split()
score=list(map(float,line))

student_mark[name]=score
query_name=input()

avg=sum(student_mark[query_name])/len(student_mark[query_name])
print(avg)

3
maha 3 4 5
maha
4.0

In [11]:
name,*line=input().split()

print(name)
print(*line)

my name is maha
my
name is maha


###List Comprehensions

Let's learn about list comprehensions! You are given three integers  and  representing the dimensions of a cuboid along with an integer . Print a list of all possible coordinates given by  on a 3D grid where the sum of  is not equal to . Here, . Please use list comprehensions rather than multiple loops, as a learning exercise.

In [18]:
x=int(input())
y=int(input())
z=int(input())
n=int(input())


    
print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k)!=n ])

1
2
1
1
[[0, 0, 0], [0, 1, 1], [0, 2, 0], [0, 2, 1], [1, 0, 1], [1, 1, 0], [1, 1, 1], [1, 2, 0], [1, 2, 1]]

#### Consider a list (list = []). You can perform the following commands:

insert i e: Insert integer  at position .
print: Print the list.
remove e: Delete the first occurrence of integer .
append e: Insert integer  at the end of the list.
sort: Sort the list.
pop: Pop the last element from the list.
reverse: Reverse the list.

In [ ]:
n=int(input())
l=[]

for i in range(0,n):
    cmd=input().split()
    if cmd[0]=="insert":
        l.insert(int(cmd[1]),int(cmd[2]))
        
    elif cmd[0]=="append":
        l.append(int(cmd[1]))
        
    elif cmd[0]=="pop":
        l.pop();
    elif cmd[0]=="remove":
        l.remove(int(cmd[1]))
    elif cmd[0]=="sort":
        l.sort();
    else:
        l.reverse()
    
        
        print(l)

### Task

Given an integer, , and  space-separated integers as input, create a tuple, , of those  integers. Then compute and print the result of .

Note: hash() is one of the functions in the __builtins__ module, so it need not be imported.

In [2]:
n=int(input())

int_list=map(int,input().split())

t=tuple(int_list)
print(hash(t))

2
1 2
-3550055125485641917

### Task

Now, let's use our knowledge of sets and help Mickey.

Ms. Gabriel Williams is a botany professor at District College. One day, she asked her student Mickey to compute the average of all the plants with distinct heights in her greenhouse.

In [7]:
n=int(input())

set_list=map(int,input().split())
set_value=set(set_list)
avg=sum(set_value)/len(set_value)

print(avg)

5
100 100 200 200 500
266.6666666666667

## No Idea

In [19]:

happy=0
n= map(int,input().strip().split(" "))
arr=list(map(int,input().strip().split(" ")))
good=set(map(int,input().strip().split(" ")))
bad=set(map(int,input().strip().split(" ")))

for i in arr:
    if i in good:
        happy=happy+1
    elif i in arr:
        if i in bad:
            happy=happy-1
print(happy)

1 2 3
1 2 3 4 5
2 3
1 2
1

## Task -  Symmetric Difference
Given  sets of integers,  and , print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.

In [32]:
n=int(input())
n=map(int,input().split())
m=int(input())
m=map(int,input().split())

set_list=set(m)
set_list1=set(n)
set_l1=set_list.difference(set_list1)
set_l2=set_list1.difference(set_list)

new_set =set_l1.union(set_l2)
for i in sorted(new_set):
    print(i)

2
2 3 4
2
3 4 5
2
5

### Set_Add

In [7]:
n=int(input())

n_name= map(str,input().split())

res=set(n_name)


print(len(res))

7
Chennai mumbai kolkatta hydrabad delhi jaipur jaipur
6

### Discard, remove, pop

In [4]:
n=int(input())
n_set=set(map(int,input().split()))

no_input=int(input())

for i in range(no_input):
    name=input().split()
    if name[0]=="remove":
        n_set.remove(int(name[1]))
    elif name[0]=="discard":
        n_set.discard(int(name[1]))
    else:
        n_set.pop()
print(sum(list(n_set)))

4
1 2 3 4
3
remove 1
discard 2
pop
4

### Task - Union
The students of District College have subscriptions to English and French newspapers. Some students have subscribed only to English, some have subscribed to only French and some have subscribed to both newspapers.

In [4]:
n=int(input())
n_list=set(map(int,input().split()))

m=int(input())
m_list=set(map(int,input().split()))

list_union=n_list.union(m_list)

print(len(list_union))

4
1 2 3 4
4
3 4 5 6
6

### Intersection

In [9]:
n=int(input())
n_list=set(map(int,input().split()))
m=int(input())
m_list=set(map(int,input().split()))
final_list=n_list.intersection(m_list)
print(len(final_list))

4
1 2 3 4
4
2 3 5 6
2

### Difference

In [12]:
n=int(input())
n_list=set(map(int,input().split()))
m=int(input())
m_list=set(map(int,input().split()))
final_list=n_list.difference(m_list)
print(len(final_list))

4
1 2 3 4
4
2 3 4 5
1

## Symmetric Difference

In [14]:
n=int(input())
n_list=set(map(int,input().split()))
m=int(input())
m_list=set(map(int,input().split()))
final_list=n_list.difference(m_list)
print(len(final_list))

4
1 2 3 4
4
2 3 4 5 6
1

## TASK
You are given a set  and  number of other sets. These  number of sets have to perform some specific mutation operations on set .

Your task is to execute those operations and print the sum of elements from set .

In [ ]:
len_set = int(input())

storage = set(map(int, input().split()))

op_len = int(input())

for i in range(op_len):
    operation = input().split()
    if operation[0] == 'intersection_update':
        temp_storage = set(map(int, input().split()))
        storage.intersection_update(temp_storage)
    elif operation[0] == 'update':
        temp_storage = set(map(int, input().split()))
        storage.update(temp_storage)
    elif operation[0] == 'symmetric_difference_update':
        temp_storage = set(map(int, input().split()))
        storage.symmetric_difference_update(temp_storage)
    elif operation[0] == 'difference_update':
        temp_storage = set(map(int, input().split()))
        storage.difference_update(temp_storage)
    else :
        assert False
        

print(sum(storage))

### The Captian's Room

In [11]:

N = int(input())

storage = map(int, input().split())
storage = sorted(storage)

for i in range(len(storage)):
    if(i != len(storage)-1):
        if(storage[i]!=storage[i-1] and storage[i]!=storage[i+1]):
            print(storage[i])
            break;
    else:
        print(storage[i])

2
1 2 1 2 4
4

## subset

In [ ]:
for i in range(int(input())):
    a = int(input())
    set_a = set(map(int, input().split()))
    b = int(input())
    set_b = set(map(int, input().split()))
    if len(set_a - set_b) == 0:
        print("True")
    else:
        print("False")

2
2
1 2
3
2 3 4
False

### Stirct superset

In [1]:
a=map(int,input().split())

result=True
a_set=set(a)

for i in range (int(input())):
    if a_set.issuperset(set(map(int,input().split()))) is not True:
        result=False
        break
print(result)

1 2 3 4
2
1 2
2 3
True